@font-face {
  font-family: 'Fredoka One', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  }

html {
  background: linear-gradient(105deg, #51d7d0 50%, #fbea5e 50%);
}

.App {
  text-align: center;
  background: linear-gradient(105deg, #51d7d0 50%, #fbea5e 50%);
  min-height: 1000px;
  font-family: 'Fira Sans', sans-serif;
}

a {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid #8551a8;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display: flex;
  float: left;
}

.App-header {
  background-color: white;
  min-height: 18vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #8551a8;
  font-family: 'Fira Sans', sans-serif;
  box-shadow: 5px 5px 8px #888888;
}

/*Tabs*/

.tab-list-item, .tab-list-itemtab-list-active {
  margin: 5px;
  max-width: 100px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #8551a8;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  transition-duration: 0.4s;
  display: inline;
}

.tab-list-item:hover {
  background-color: #8551a8;
  color: white;
}

/*catCard styling*/

.cat-list {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.cat-list-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.Cat-id {
  width: 320px;
  height: 550px;
  /* background-image: url('./grainy.png'); */
  background-color: white;
  border: 2px dashed #8551a8;
  border-radius: 15px;
  align-items: center;
  margin: 15px;
  box-shadow: 5px 5px 8px #888888;
}

.Cat-table {
  margin: 20px;
  display: grid;
  justify-content: center;
}

th {
  text-align: end;
}

.Cat-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cat-nametitle {
  font-size: 1em;
}

.Cat-username {
  font-size: 1.5em;
  margin-left: 10px;
}

.Cat-footer {
  display: flex;
  justify-content: center;
}

.Cat-image-box {
  display: flex;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border: 2px solid #8551a8;
  border-radius: 15px;
  position: relative;
}

.Cat-image {
  max-width:220;
  max-height:220px;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.Cat-name {
  color: #8551a8;
}

.Cat-crown {
  height: 50px;
  width: 50px;
  /* position: absolute; */
}

.Cat-wins {
  position: absolute;
}
.Cat-wins p {
  font-size: x-small;
  position: relative;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05) rotateZ(2deg);
}

/* form aspects styling, for login, sign up, create cat */

.form {
  justify-content: center;
}

.newcat-form {
  width: 300px;
}

.form-left {
  grid-column: 2 / 3;
  justify-items: center;
}

/* title */

.header-logo {
  pointer-events: none;
  float: left;
  margin-right: 5vw;
  animation: Spin 2s;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'Fredoka One', cursive;
  font-size: 7vw;
  /* background-image: url("/src/paisley-cats.jpg"); */
  /* background: linear-gradient(90deg, #fbea5e, #e6ec65, #d1ed6f, #bded7a, #a9ec86, #97eb93, #85e99f, #75e6ab, #66e3b6, #5bdfc0, #53dbc9, #51d7d0); */
  background: linear-gradient(90deg, #51d7d0, #53dbc9, #5bdfc0, #66e3b6, #75e6ab, #85e99f, #97eb93, #a9ec86, #bded7a, #d1ed6f, #e6ec65, #fbea5e);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  margin: unset;
}

/* form, nav and buttons */

input {
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #8551a8;
}

.button, button {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #8551a8;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover, button:hover {
  background-color: #8551a8;
  color: white;
}

.nav {
  width: 100%;
}

/*Maps*/

.cat-map {
  margin-top: 20px;
}

.marker {
  width: 30px;
  height: 30px;
}

/* welcome message */

.speech-bubble h3 {
  margin: 5px;
  color: #8551a8;
}

.speech-bubble {
  width: 300px;
  margin: 10px;
  border: 4px solid #8551a8;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  background-color: white;
  position: relative;
  transform: rotateZ(9deg);
  box-shadow: 5px 5px 8px #888888;
}

.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #8551a8;
  border-top: 10px solid #8551a8;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

/* trees */

.logo2 {
  height: 8vmin;
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
0%,
25%,
50%,
75%,
100% {
  transform: translateY(0);
  }
40% {
  transform: translateY(-10px);
  }
}

.logo3 {
padding-top:10px;
  height: 7vmin;
  margin-left: -8px;
  animation: bounce1 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce1 {
0%,
25%,
50%,
75%,
100% {
  transform: translateY(0);
  }
60% {
  transform: translateY(-10px);
  }
}

/* topcat game */

.topcat-box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.topcat-user {
  margin-right: 5vw;
}

.topcat-user-card {
  box-shadow: 5px 5px 8px #888888;
}

.topcat-opponent {
  margin-left: 5vw;
}

.topcat-opponent-card {
  transition-timing-function: ease-in-out;
  transform: rotateY(90deg)
}

.topcat-card-rotate {
  transition-timing-function: ease-in-out;
  transform: translateX(-177px) rotateY(-90deg) !important
}

.topcat-buttons-box {
  width: 160px;
  height: 250px;
  background-color: white;
  border: 2px dashed #8551a8;
  border-radius: 15px;
  box-shadow: 0px 5px 8px #888888;
}

.Card-back {
  z-index: 100;
  transition-timing-function: ease-in-out;
  position: absolute;
  transform: translateX(-177px) rotateY(0deg);
  width: 320px;
  height: 550px;
  background-color: #8eea99;
  border: 2px Solid #8551a8;
  border-radius: 15px;
  align-items: center;
  margin: 15px;
  box-shadow: 5px 5px 8px #888888;
}
