.App {
  text-align: center;
  /* background-color: #ADDDCE; */
  /* background-color: #cfe3e0; */
  /* background-color: #b4ccb5; */
  background: linear-gradient(130deg, #c7ede9 50%, #c7dded 50%);
  min-height: 1000px;
  font-family: 'Comic Sans MS';
  /* min height needs updating */
}

a {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid #E6B655;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-family: 'Comic Sans MS';
  /* font family needs updating */
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display: flex;
  float: left;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E6B655;
  font-family: 'Comic Sans MS';
  box-shadow: 5px 5px 8px #888888;
}

/*catCard styling*/

.cat-list {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}


.Cat-id {
  width: 300px;
  background-color: white;
  border: 2px dashed #E6B655;
  border-radius: 20px;
  align-items: center;
  margin: 15px;

  box-shadow: 5px 5px 8px #888888;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
}

.button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fcb243;
  color: white;
}

.nav {
  display: inline-flex !important;
}

.Cat-table {
  margin: 20px;
  display: grid;
  justify-content: center;
}

.Cat-header {
  font-size: 8px;
}

.Cat-image {
  width: 200px;
  /* border: 2px solid #E6B655;
  border-radius: 20px; */
}

.Cat-name {
  color: #E6B655;
}
