html {
  display: grid;
}

.App {
  text-align: center;
}

a {
  font-family: 'Fira Sans', sans-serif;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display: flex;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.App-link {
  color: #61dafb;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
}

.button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  transition-duration: 0.4s;
  overflow: visible;
}

.button:hover {
  background-color: #fcb243;
  color: white;
}

.nav {
  display: inline-flex !important;
}
