.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  justify-content: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*catCard styling*/

.Cat-id {
  width: 300px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  margin: 10px;
}

.Cat-table {
  /* margin: 20px; */
  display: grid;
  justify-content: center;
}

.Cat-image {
  width: 200px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
