.App {
  text-align: center;
}

a {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Comic Sans MS';
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  /* position: fixed;
  top: 0; */
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Comic Sans MS';
}

.App-link {
  color: #61dafb;
}

/*catCard styling*/

.Cat-id {
  width: 300px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  margin: 10px;
}

.Cat-table {
  /* margin: 20px; */
  display: grid;
  justify-content: center;
}

.Cat-image {
  width: 200px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
