html {
  background: linear-gradient(130deg, #c7ede9 50%, #c7dded 50%);
}

.App {
  text-align: center;
  /* background-color: #ADDDCE; */
  /* background-color: #cfe3e0; */
  /* background-color: #b4ccb5; */
  background: linear-gradient(130deg, #c7ede9 50%, #c7dded 50%);
  min-height: 1000px;
  font-family: 'Fira Sans', sans-serif;
  /* min height needs updating */
}

a {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid #E6B655;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  /* font family needs updating */
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display: flex;
  float: left;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E6B655;
  font-family: 'Fira Sans', sans-serif;
  box-shadow: 5px 5px 8px #888888;
}

/*catCard styling*/

.cat-list {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.cat-list-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.Cat-id {
  width: 320px;
  height: 550px;
  background-color: white;
  border: 2px dashed #E6B655;
  border-radius: 15px;
  align-items: center;
  margin: 15px;
  box-shadow: 5px 5px 8px #888888;
}

.Cat-table {
  margin: 20px;
  display: grid;
  justify-content: center;
}

.Cat-header {
  font-size: 8px;
}

.Cat-image-box {
  display: flex;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border: 2px solid #E6B655;
  border-radius: 15px;
  position: relative;
}

.Cat-image {
  max-width:220;
  max-height:220px;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Cat-name {
  color: #E6B655;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05) rotateZ(2deg);
}

/* form aspects styling, for login, sign up, create cat */

.form {
  justify-content: center;
}

.newcat-form {
  width: 300px;
}

.form-left {
  grid-column: 2 / 3;
  justify-items: center;
}

/* title */

.title {
  font-family: 'Fredoka One', cursive;
  font-size: 7vw;
  /* background-image: url("/src/paisley-cats.jpg"); */
  background: linear-gradient(90deg, #e0d82f, #e1c62f, #e2b430, #e3a230, #e49031, #e57d31, #e66b32);  
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  margin: unset;
}

/* form, nav and buttons */

input {
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
}

.button, button {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #fcb243;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fcb243;
  color: white;
}

.nav {
  width: 100%;
}

/* welcome message */

.speech-bubble h3 {
  margin: 5px;
  color: #fcb243;
}

.speech-bubble {
  width: 300px;
  margin: 10px;
  border: 4px solid #fcb243;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  background-color: white;
  position: relative;
  transform: rotateZ(9deg);
  box-shadow: 5px 5px 8px #888888;
}

.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fcb243;
  border-top: 10px solid #fcb243;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}
